* {
	box-sizing: border-box;
	scroll-behavior: smooth;
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0;
}

*, button, input {
	border: 0;
	background: none;
	font-family: 'Roboto', sans-serif;
}

ul {
	list-style: none;
	padding-left: 0;
}
a {
	color: inherit;
} 
  
:root {
	--primary: #2A7AE4;
	--black: #282c34;
	--blackLighter: #9E9E9E;
	--grayLight: #F5F5F5;
	--grayMedium: #e5e5e5; 
	--white: #FFFFFF;
	--frontEnd: #6BD1FF;
	--backEnd: #00C86F;
}

::-webkit-scrollbar {
	width: 0.6rem;
	height: 0.6rem;
}

::-webkit-scrollbar-track {
	background: var(--grayMedium);
}

::-webkit-scrollbar-thumb {
	/* border-radius: 0.20rem; */
	background: #2e60a1;
}

::-webkit-scrollbar-thumb:hover {
	background: #284d7c; 
}